{% extends 'moderator/base.html' %}

{% block content %} 
    {% for flag in flags %}
            {% if flag.media %}
                <div class="card p-1 m-1">
                    <div class="card-body">
                        <div class="image-card">
                            <div class="col-4">
                                <img src="{{ flag.media.url }}" alt="My Image" class=".img-thumbnail" id="thumbnail">
                                <script>
                                    // var img = document.getElementsByClassName(".img-thumbnail");
                                    // img.onclick = function() {
                                    //     if(event.target = img){
                                    //         img.classList.add('image')
                                    //     }
                                    // }
                                    // document.onclick = function(event) {
                                    //     if (event.target != img) {
                                    //         img.style = "";
                                    //     }
                                    // }
                                </script>
                            </div>
                            <div class="col-11">
                                {{ flag.text | linebreaks }}
                                <div class="button-group btn-group">
                                    <form action="{% url 'moderator:remove' flag.uuidField %}" method="POST" class="mx-2">
                                        {% csrf_token %}
                                        <button name="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                    <form action="{% url 'moderator:approve' confession.uuidField %}" method="POST" class="mx-2">
                                        {% csrf_token %}
                                        <button name="submit" class="btn btn-success btn-sm">Approve</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>               
            {% else %}
                <div class="card p-1 m-1">
                    <p>
                        <div class="card-body">
                            {{ flag.text | linebreaks }}
                            <div class="button-group btn-group">
                                <form action="{% url 'moderator:remove' flag.uuidField %}" method="POST" class="mx-2">
                                    {% csrf_token %}
                                    <button name="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                                <form action="{% url 'moderator:approve' flag.uuidField %}" method="POST" class="mx-2">
                                    {% csrf_token %}
                                    <button name="submit" class="btn btn-primary btn-sm">Approve</button>
                                </form>
                            </div>
                        </div>
                    </p>
                </div>
            {% endif %}
    {% empty %}
        <p>No flagged confessions</p>
    {% endfor %}
{% endblock content %}